# Dependencies
node_modules/

# C++ / CMake Build outputs
**/build/
*.o
*.obj
*.exe
a.out

# OS & System
.DS_Store
Thumbs.db

# Offline Research - Exclude everything except create_LoD
offline_research/modules/
offline_research/offline_experiments/
offline_research/optimization_datasets/
offline_research/testing_and_legacy/
offline_research/*
!offline_research/create_LoD/
!offline_research/create_LoD/**