# Ignore specific folders 
notUsed/
asyncPCDLoader/
node_modules/

# Ignore specific files
calculateHole(new).js
calculateOverlap(new).js
staticLoader.js
staticLoader copy.js
varyingPointSize(static).js
simulation.js
metafileDefense.xml
package-lock.json
package.json
.gitignore

